/* 1. Estilos Gerais */
@import url('https://fonts.cdnfonts.com/css/pricedown'); /* 1.2 Defina uma fonte padrão para a página. */

body {
    margin: 0 auto; /* 1.1 Aplique um reset básico para remover margens e paddings padrões dos navegadores. */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-image: url("../imagens/background.png");
}

.break { /* Quebrar o flexbox em linhas */
    flex-basis: 100%;
    height: 0;
}

.container { /* Container para conteúdo destacado da imagem de fundo da página */
    border-radius: 15px;
    height: 100vh;
    width: 100vh;
    background-color: black;
    border-radius: 15px;
}

.header { /* 2. Cabeçalho */
    background-color: rgba(198,209,174,255); /* 2.1 Estilize o cabeçalho com uma cor de fundo [...] */
    color: white; /* 2.1 [..] e uma cor de texto que contrastem bem. */
    text-align: center; /* 2.2 Centralize o título e a imagem do logotipo, posicionando-os horizontalmente.*/
    padding-left: 1rem; /* 2.3 Adicione espaçamento interno (padding) ao cabeçalho.*/
    padding-right: 1rem; /* 2.3 Adicione espaçamento interno (padding) ao cabeçalho.*/
    display: flex;
    align-items: center;
    font-family: 'Pricedown Bl', sans-serif;
}

.header img {
    width: 256px;
    height: 64px;
    cursor: pointer;
}

.header p {
    font-size: 30px;
    cursor: pointer;
}

.header h1 {
    padding-left: 1rem;
    font-size: 30px;
    cursor: default;
    user-select: none;
}

.nav { /* 3. Menu de Navegação (nav) */
    text-align: center;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    user-select: none; /* 3.3 Remova o sublinhado padrão dos links [...] */
    background-color: black; /* 3.1 Dê ao menu de navegação um fundo diferente do cabeçalho para destacá-lo. */
}

.nav li {
    color: white;
    font-family: 'Pricedown Bl', sans-serif;
    font-size: 24px;
    cursor: pointer;
    display: inline-block; /* 3.2 Estilize os links de navegação para que fiquem dispostos horizontalmente.) */
    padding: 1rem;
    transition: 1s;
}

.nav li:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; /* 3.3 e adicione um efeito de mudança de cor ao passar o mouse sobre eles (hover). */
}