<h1> Cadastro do vendedor </h1> 
<hr>
<table>
  <tr>
    <td> Nome do vendedor: </td>
    <td> <input type="text" [(ngModel)]="vendedor.nome"> </td>
  </tr>
  <tr>
    <td> Salário base: </td>
    <td> <input type="number" [(ngModel)]="vendedor.salarioBase"> </td>
  </tr>
  <tr>
    <td> Total vendido: </td>
    <td> <input type="number" [(ngModel)]="vendedor.totalVendido"> </td>
  </tr>
  <tr>
    <td colspan="2"> <button (click)="onSalarioTotal()"> Calcular salário </button></td>
  </tr>
  <tr>
    <td> Salário total: </td>
    <td> {{salarioTotal | currency }} </td>
  </tr>
</table>